header {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-family: Arial;
    background-color: darkslategray;
    color: white;
    padding: 20px;
}

.brand-title {
    font-size: 35px;
    font-weight: bold;
}

nav span {
    margin-right: 20px;
}

.quick-links span {
    margin-right: 10px;
}

article {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;

}

article span {
    color: gold;
}


/* Main Banner  */

.main_banner {
    background-image: url("./images/jpg/banner1.jpg");
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;



}

.title {
    font-size: 90px;
    color: black;
    text-shadow: 1px 1px 1px darkslategray;
    margin-left: 130px;
    margin-right: 500px;
    display: flex;

}

.main_banner_content {
    width: 80%;
    margin-top: 200px;


}

.main_banner_content h6 {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 29px;
    font-size: 25px;


}

.main_banner_content h1 {
    font-weight: 500;
    line-height: 1;
    font-size: 80px;
}

.red_button {

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background: #fe4c50;
    border-radius: 3px;

    transition: all 0.3s ease;
}

.red_button:hover {
    background: #FE7C7F !important;
}

.red_button a {
    display: block;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
    width: 100%;
}

.shop_now_button {
    width: 140px;
    margin-top: 32px;
    display: flex;
}

/* Card Section Men, Women, Kids */

.women {
    background-image: url("./images/jpg/women.jpg");
    opacity: 0.6;
    background-repeat: no-repeat;

}

.women:hover {
    opacity: 1;
}

.men {
    background-image: url("./images/jpg/men.jpg");
    opacity: 0.6;
    background-repeat: no-repeat;


}

.men:hover {
    opacity: 1;
}

.kids {
    background-image: url("./images/jpg/kids.jpg");
    opacity: 0.6;
    background-repeat: no-repeat;

}

.kids:hover {
    opacity: 1;
}

.women,
.men,
.kids {
    height: 400px;
    width: 510px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-size: cover
}

.hero {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.hero div {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: azure;
    text-shadow: 1px 2px 1px #464646;

}

.card_button {
    display: block;
    margin: 220px 8px;
    padding: 2px 2px;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.delivery {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    padding: 10px;
    font-size: 15px;
    color: gray;
    border-bottom: 2px solid darkslategray;
}

.nextstep {
    text-align: center;
    font-family: Arial;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    color: gray;
}

.nextstep strong {
    color: black;
}

/* --------------------------product---------------- */

.product {
    /* background-image:linear-gradient(150deg,#0ca080 2%,#6d62d4 50%, #255fb7 100%); */
    padding: 5px;
    width: 90%;
    margin: 10px 5%;
}

.row1 {
    display: grid;
    grid-gap: 20px;
    margin-bottom: 20px;
    grid-template-columns: 4fr 8fr;
}

.row1 .left {
    height: 400px;
    background-image: url('./images/jpg/bags.webp');
    background-size: cover;
}

.row1 .right {
    background-image: url('./images/jpg/men_shirt.webp');
    background-size: cover;
}

.row2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 8fr 4fr;
}

.row2 .left {
    height: 400px;
    background-image: url('./images/jpg/women_dress.webp');
    background-size: cover;
}

.row2 .right {
    background-image: url('./images/jpg/sweatshirts.jpg');
    background-size: cover;
}

.left,
.right,
.top-sellers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-title {
    font-size: 25px;
    font-family: jost;
    font-weight: bold;
    display: flex;

}

.big_product-title {
    font-size: 25px;
    font-family: jost;
    font-weight: bold;

}


.product button {
    border: 0px;
    margin: 20px 0px;
    padding: 10px 40px;
    background-color: rgba(255, 0, 0, 0);
    font-weight: bold;

}

.row1 .left,
.row2 .right {
    color: white;
}

.row1 .left button,
.row2 .right button {
    color: white;
}

/* -----------------------top-sellers--------------- */

.top-sellers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 40px;
}

.different-text {
    font-weight: thin;
    letter-spacing: 1px;
    color: rgb(66, 66, 66);
}

.small-heading {
    font-size: 14px;
    color: gray;
    font-weight: bold;
}

.large-heading {
    font-size: 42px;
    font-weight: bold;
    color: #1c1c1c;
}

.product-filters {
    display: flex;
    border-bottom: 20px;
}

.product-filters div {
    padding: 10px 20px;
    border-bottom: 1px solid white;
}

.product-filters div:hover {
    color: orange;
    border-bottom: 1px solid orange;
}

/* ------------------------------? */

.product-items {
    width: 90%;
    height: 900px;
    margin: 10px 10%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.product-card {
    width: 300px;
    height: 420px;
    margin: 10px 20px;
}

.product-card img {
    width: 100%;
}

.product-card img:hover {
    opacity: 40%;
}

/* ---------------------discover------------- */

.discover {
    width: 100%;
    margin: 100px 0px;
    padding: 5px 50px;
    text-align: center;
    border-bottom: 1px solid #272727;

}

/* ---------------------Discover Deals------------- */

.discover-deals {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    background-size: contain;
    background-image: url('./images/jpg/deal_ofthe_week.png');
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;

}

.large-heading {
    font-size: 42px;
    font-weight: bold;
    color: #1c1c1c;
}

/* ---------------------Reviews------------- */
.reviews {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 40px;
    font-weight: bold;
}
.reviews small {
    color: grey;
}

.reviews strong {
    color: black;
}




/* Footer Section*/

footer {
    background-color: black;
    color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 2.4fr 2.4fr 2.4fr 2.4fr 2.4fr;
    font-family: Arial;
    height: 200px;
}

.brand-title+div {
    margin-top: 15px;
}

.brand-title+div span {
    margin-right: 10px;
}

.footer-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-title~div {
    margin-bottom: 15px;
    color: gray;
}

address div {
    margin-bottom: 15px;
}